.kn-label {
  padding-top: .1em;
}

.kn-weight-amount {
  text-align: right;
  padding-right: 5px;
}

.kn-count {
  text-align: right;
  padding-right: 5px;
}

.kn-symbol {
  text-align: center;
}

.kn-checkbox {
  text-align: right;
}
