<div class="reactive-list-item" (mouseover)="hover=true" (mouseleave)="hover=false"
     [ngStyle]="{backgroundColor: hover==true  ? 'lightgrey' : 'inherit'}">
  <div class="kn-item" knGrid [columns]="parentComponent.itemConfig.knLayout.knColumns">
    <div (click)="onSelect()" class="kn-checkbox material-icons">{{layout.selected[item.isSelected.toString()]}}</div>
    <div class="kn-symbol material-icons">{{item?.symbol}}</div>
    <div class="kn-label">{{item?.knLabel}}</div>
    <div class="kn-max-likes"></div>
    <div class="kn-symbol kn-weight-code material-icons">{{item?.weightCode}}</div>
    <div class="kn-symbol kn-weight-symbol material-icons">{{item?.weightSymbol}}</div>
    <div class="kn-weight-amount">{{item?.weightAmount}}</div>
  </div>
</div>
