<header>
  <button (click)="showNav = !showNav" class="material-icons">
    {{ showNav ? 'close' : 'menu' }}
  </button>

  <!--
    The unusual handling of showNav ensures that the nav animations are only
    triggered at the appropriate points.
  -->
  <a routerLink="/" (click)="showNav = showNav ? false : showNav">
    <h1>{{ title }}</h1>
  </a>
</header>

<nav
    (click)="showNav = false"
    [class.showNav]="showNav"
    [class.hideNav]="showNav === false"
>
  <a routerLink="./login" *ngIf="isLoggedOut$ | async">Login</a>
  <a (click)="logout()" *ngIf="isLoggedIn$ | async">Logout</a>
  <a *ngFor="let route of routes"
     routerLinkActive="currentSelection"
     [routerLink]="'/examples/' + route.path"
  >
    {{ route.component['label'] || route.path }}
  </a>
  <a routerLink="./demos" *ngIf="isLoggedIn$ | async">Reactive Design</a>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer>

  <a target="_blank" href="https://github.com/deaneturner/kargonaut-ws">
    GitHub
  </a>

</footer>
