<div class="simple-markup-example">
  <div></div>
  <div>
    <div>
      <h2>{{ label }}</h2>
      <img src="../../../assets/death-stranding/deathstranding_cargo_management.png" alt="cargo management">
    </div>

    <div class="item-example-layout">
      <div></div>
      <div>
        <h3>Item</h3>
        <div class="cn-item example-item">
          <div></div>
          <div>Item row</div>
        </div>
      </div>
    </div>

    <div class="package-example-layout">
      <div></div>
      <div>
        <h3>Package</h3>
        <div class="cn-package example-package">
          <div class="cn-header example-header">
            <div></div>
            <div>Package Header</div>
          </div>

          <div class="cn-item">
            <div></div>
            <div>Item row 1</div>
          </div>
          <div class="cn-item">
            <div></div>
            <div>Item row 2</div>
          </div>
          <div class="cn-item">
            <div></div>
            <div>Item row 3</div>
          </div>
          <div class="cn-item">
            <div></div>
            <div>Item row 4</div>
          </div>
        </div>
      </div>
    </div>

    <div class="bundle-example-layout">
      <div></div>
      <div>
        <h3>Bundle</h3>
        <div class="cn-bundle example-bundle">
          <div class="cn-package example-package">
            <div class="cn-header">
              <div></div>
              <div>Package1</div>
            </div>

            <div class="cn-item">
              <div></div>
              <div>Item row A</div>
            </div>
            <div class="cn-item">
              <div></div>
              <div>Item row B</div>
            </div>
            <div class="cn-item">
              <div></div>
              <div>Item row C</div>
            </div>
            <div class="cn-item">
              <div></div>
              <div>Item row D</div>
            </div>
          </div>
          <div class="cn-package example-package">
            <div class="cn-header">
              <div></div>
              <div>Package 2</div>
            </div>

            <div class="cn-item">
              <div></div>
              <div>Item row 1</div>
            </div>
            <div class="cn-item">
              <div></div>
              <div>Item row 2</div>
            </div>
            <div class="cn-item">
              <div></div>
              <div>Item row 3</div>
            </div>
            <div class="cn-item">
              <div></div>
              <div>Item row 4</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="source">
    <h3>Source</h3>
    <div class="sample">
      <a href="https://github.com/deaneturner/kargonaut-ws/blob/master/projects/demo/src/app/markup/simple-markup-example/simple-markup-example.component.html"
         target="source">simple-markup-example.component.html</a>
      <ng-gist userName="deaneturner"  gistId="206dd7db990511e1627cbd80f9e0c167"></ng-gist>
    </div>
    <div class="sample">
      <a href="https://github.com/deaneturner/kargonaut-ws/blob/master/projects/demo/src/app/markup/simple-markup-example/simple-markup-example.component.less"
         target="source">simple-markup-example.component.less</a>
      <ng-gist userName="deaneturner"  gistId="8a1ae722230af58a0c6b2b8dfc4088d9"></ng-gist>
    </div>
  </div>
</div>
