<div style="margin-left: 40px">
  <h2>{{ label }}</h2>
</div>
<div class="reactive-list-demo">
  <div>
    <div>
      <mat-card>
        <mat-card-content>
          <kn-package-component [config]="packageConfig" [itemConfig]="itemConfig">
            <demo-reactive-list-header *knPackageHeader></demo-reactive-list-header>
            <demo-reactive-list-item *knListItem="let item" [item]="item"></demo-reactive-list-item>
            <div class="kn-select-max-no-collapse">Click to expand...</div>
          </kn-package-component>
        </mat-card-content>
        <mat-card-content>
          <kn-package-component [config]="packageConfig2" [itemConfig]="itemConfig2">
            <demo-reactive-list-header *knPackageHeader></demo-reactive-list-header>
            <demo-reactive-list-item2 *knListItem="let item" [item]="item"></demo-reactive-list-item2>
            <div class="kn-select-max-no-collapse">Click to expand...</div>
          </kn-package-component>
        </mat-card-content>
        <mat-card-content>
          <kn-package-component [config]="packageConfig3" [itemConfig]="itemConfig3">
            <demo-reactive-list-header *knPackageHeader></demo-reactive-list-header>
            <demo-reactive-list-item2 *knListItem="let item" [item]="item"></demo-reactive-list-item2>
            <div class="kn-select-max-no-collapse">Click to expand...</div>
          </kn-package-component>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div>
    <mat-card>
      <mat-card-content>
        <mat-toolbar color="primary">
          Result Row Details
        </mat-toolbar>
        <mat-list role="list">
          <mat-list-item role="listitem">Item 1</mat-list-item>
          <mat-list-item role="listitem">Item 2</mat-list-item>
          <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
