@import '~@angular/material/theming';

.reactive-list-demo {
  display: grid;
  grid-template-columns: 400px auto;
  padding: 0 40px 0 40px;
}

.demo-item-detail {
  height: 300px;
  overflow-y: scroll;
}

::ng-deep .reactive-list-header {
  margin: 0 5px 0 5px;
}
