@import '~@angular/material/theming';

@mixin reactive-list-header-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .reactive-list-header {
    background-color: mat-color($primary);
    border-color: mat-color($accent, A400);
  }
}

@mixin reactive-list-header-typography($config) {
  .reactive-list-header {
    font: {
      family: mat-font-family($config, body-1);
      size: mat-font-size($config, body-1);
      weight: mat-font-weight($config, body-1);
    }
  }
}

