<div class="about-layout">
  <div></div>
  <div>
    <h2>About this demo application</h2>

    <p>
      This is a demo of an item bundle management UI, inspired by the - Death Stranding.
    </p>

    <h3>Source</h3>
    <blockquote>
      <a target="_blank" href="https://github.com/deaneturner/kargonaut-ws">
        GitHub Source
      </a>
    </blockquote>

    <h3>Documentation</h3>
    <blockquote>
      <a target="_blank" href="https://kargonaut-docs.herokuapp.com/overview.html">
        Documentation
      </a>
    </blockquote>

    <img src="../../../assets/death-stranding/deathstranding_cargo_management.png" alt="cargo management">
  </div>
  <div></div>
</div>

