<div class="about-layout">
  <div></div>
  <div>
    <h2>About this demo application</h2>

    <p>
      This is a demo of an item bundle management UI, inspired by the - Death Stranding.
    </p>

    <blockquote>
      <a target="_blank" href="https://github.com/deaneturner/kargonaut-ws">
        Item Bundle Management UI on GitHub
      </a>
    </blockquote>

    <img src="../../../assets/death-stranding/deathstranding_cargo_management.png" alt="cargo management">
  </div>
  <div></div>
</div>

