<div class="cn-package example-package">
  <ng-template #collapseTpl>
    <div (click)="expand()">
      <ng-content select=".cn-select-max-no-collapse"></ng-content>
    </div>
  </ng-template>
  <div *ngIf="config">
    <div cnGrid [columns]="config.cnLayout.cnColumns">
      <div class="material-icons">grade</div>
      <div>{{ config.cnLabel }}</div>
      <div class="cn-count" *ngIf="itemConfig">x{{(itemConfig?.cnData | async)?.length}}</div>
      <div class="cn-count" *ngIf="!itemConfig">x{{config.cnCount}}</div>
    </div>
  </div>
  <div class="cn-items" *ngIf="itemConfig">
    <ng-container *ngIf="collapse(); else collapseTpl">
      <ng-container *ngFor="let item of (itemConfig.cnData | async)">
        <div class="cn-item" cnGrid [columns]="itemConfig.cnLayout.cnColumns">
          <ng-container *ngTemplateOutlet="listItemTemplate; context: {$implicit: item}"></ng-container>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <ng-content select=".cn-select-package" *ngIf="!config"></ng-content>
  <ng-content select=".cn-select-items" *ngIf="!itemConfig"></ng-content>
</div>
