<div class="package-component-example">
  <div></div>
  <div>
    <div>
      <h2>{{ label }}</h2>
    </div>
    <h3>Component w/ Configuration Object</h3>
    <!-- package template-->
    <ng-template #packageTpl let-label="cnLabel" let-layout="cnLayout">
      <div class="example-header" cnGrid [columns]="layout.cnColumns">
        <div class="material-icons">all_out</div>
        <div>{{ label }}</div>
        <div class="cn-count">x4</div>
      </div>
    </ng-template>
    <!--  item template-->
    <ng-template #itemTpl let-item="item">
      <div class="cn-checkbox material-icons">{{item?.checkbox}}</div>
      <div class="cn-symbol material-icons">{{item?.symbol}}</div>
      <div class="cn-label">{{item?.cnLabel}}</div>
      <div class="cn-max-likes"></div>
      <div class="cn-symbol cn-weight-code material-icons">{{item?.weightCode}}</div>
      <div class="cn-symbol cn-weight-symbol material-icons">{{item?.weightSymbol}}</div>
      <div class="cn-weight-amount">{{item?.weightAmount}}</div>
    </ng-template>
    <!-- component-->
    <cn-package-component [config]="packageConfig" [itemConfig]="itemConfig">
      <ng-container *cnListItem="let item">
        <ng-container *ngTemplateOutlet="itemTpl; context:{item: item}"></ng-container>
      </ng-container>
    </cn-package-component>
  </div>
  <div class="source">
    <h3>Source</h3>
    <div class="sample">
      <div class="sample">
        <a href="https://github.com/deaneturner/kargonaut-ws/blob/master/projects/demo/src/app/components/template-example/template-example.component.ts"
           target="source">component-example.component.ts</a>
        <ng-gist userName="deaneturner" gistId="6d26dedb2ccbebc4c517c00531cb7abc"></ng-gist>
      </div>
    </div>
    <div class="sample">
      <a href="https://github.com/deaneturner/kargonaut-ws/blob/master/projects/demo/src/app/components/template-example/template-example.component.html"
         target="source">component-example.component.html</a>
      <ng-gist userName="deaneturner" gistId="91cb3a173c763325c7b8845e8bca7abd"></ng-gist>
    </div>
    <div class="sample">
      <a href="https://github.com/deaneturner/kargonaut-ws/blob/master/projects/demo/src/app/components/template-example/template-example.component.less"
         target="source">component-example.component.less</a>
      <ng-gist userName="deaneturner" gistId="dfc45c58f08dc512be42a2dd3fabfe75"></ng-gist>
    </div>
  </div>
</div>
