/* demo */

.package-component-example {
  display: grid;
  grid-template-columns: auto 400px auto;
}

.package-component-example .source {
  margin: 15px 0 0 15px;
}

.package-component-example .sample {
  margin: 15px 0 40px 15px;
  height: 300px;
}

::ng-deep .kn-label {
  padding-top: .1em;
}

::ng-deep .kn-weight-amount {
  text-align: right;
  padding-right: 5px;
}

::ng-deep .kn-count {
  text-align: right;
  padding-right: 5px;
}

::ng-deep .kn-symbol {
  text-align: center;
}

::ng-deep .kn-checkbox {
  text-align: right;
}

.package-component-example {
  //width: 100%;
  //height: 100%;
  background-color: #f1f3f6;
  //transform: translate3d(0, 0, 0);
}

@fz: 2vmin;
.kn-surface{
  padding: .5em .5em;
  background-color: #f1f3f6;
  //text-align: center;
  //font-size: @fz;
  font-family: sans-serif;
  font-weight: 100;
  //color: #c8c8c8;
  line-height: 1.3;
  border-radius: 1em;
  box-shadow: inset 0.167em 0.167em 0.834em rgba(#fff, 0.3),
  0.625em 0.625em 1.25em rgba(#3754aa, 0.1), -0.625em -0.625em 1.25em #fff;
  border: 0.084em solid rgba(#fff, 0.3);
  margin-bottom: 5%;
}

::ng-deep .kn-items {
  padding: 1em 1em;
  background-color: #f1f3f6;
  //text-align: center;
  //font-size: @fz;
  font-family: sans-serif;
  font-weight: 100;
  //color: #c8c8c8;
  line-height: 1.3;
  border-radius: 1em;
  box-shadow: inset 0.167em 0.167em 0.834em rgba(#3754aa, 0.1);
  margin-top: .5em;
}
