/* demo */

.package-component-example {
  display: grid;
  grid-template-columns: auto 400px auto;
}

.package-component-example .source {
  margin: 15px 0 0 15px;
}

.package-component-example .sample {
  margin: 15px 0 40px 15px;
  height: 300px;
}
