<div class="basic-styling-example">
  <div></div>
  <div>
    <div>
      <div>
        <h2>{{ label }}</h2>
      </div>
      <div>
        <h3>Item</h3>
        <pre>&lt;div <b>knGrid</b>  [columns]="30px 30px auto 60px 30px 30px 60px"></pre>
        <div class="example-item" knGrid [columns]="itemColumns">
          <div class="kn-checkbox"></div>
          <div class="kn-symbol"></div>
          <div class="kn-label">Item row</div>
          <div class="kn-max-likes"></div>
          <div class="kn-weight-code"></div>
          <div class="kn-weight-symbol"></div>
          <div class="kn-weight-amount"></div>
        </div>
      </div>
    </div>

    <div>
      <div></div>
      <div>
        <h3>Package</h3>
        <pre>&lt;div <b>knGrid</b> [columns]="30px auto 60px"></pre>
        <div class="kn-package example-package" style="padding:0">
          <div class="example-header" knGrid [columns]="packageColumns">
            <div></div>
            <div>Package Header</div>
            <div></div>
          </div>

          <div knGrid [columns]="itemColumns">
            <div class="kn-checkbox"></div>
            <div class="kn-symbol"></div>
            <div class="kn-label">Item row</div>
            <div class="kn-max-likes"></div>
            <div class="kn-weight-code"></div>
            <div class="kn-weight-symbol"></div>
            <div class="kn-weight-amount"></div>
          </div>
          <div knGrid [columns]="itemColumns">
            <div class="kn-checkbox"></div>
            <div class="kn-symbol"></div>
            <div class="kn-label">Item row</div>
            <div class="kn-max-likes"></div>
            <div class="kn-weight-code"></div>
            <div class="kn-weight-symbol"></div>
            <div class="kn-weight-amount"></div>
          </div>
          <div knGrid [columns]="itemColumns">
            <div class="kn-checkbox"></div>
            <div class="kn-symbol"></div>
            <div class="kn-label">Item row</div>
            <div class="kn-max-likes"></div>
            <div class="kn-weight-code"></div>
            <div class="kn-weight-symbol"></div>
            <div class="kn-weight-amount"></div>
          </div>
          <div knGrid [columns]="itemColumns">
            <div class="kn-checkbox"></div>
            <div class="kn-symbol"></div>
            <div class="kn-label">Item row</div>
            <div class="kn-max-likes"></div>
            <div class="kn-weight-code"></div>
            <div class="kn-weight-symbol"></div>
            <div class="kn-weight-amount"></div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div></div>
      <div>
        <h3>Bundle</h3>
        <div class="kn-bundle example-bundle">
          <div class="kn-package example-package">
            <div knGrid [columns]="packageColumns">
              <div></div>
              <div>Package1</div>
              <div></div>
            </div>

            <div knGrid [columns]="itemColumns">
              <div class="kn-checkbox"></div>
              <div class="kn-symbol"></div>
              <div class="kn-label">Item row</div>
              <div class="kn-max-likes"></div>
              <div class="kn-weight-code"></div>
              <div class="kn-weight-symbol"></div>
              <div class="kn-weight-amount"></div>
            </div>
            <div knGrid [columns]="itemColumns">
              <div class="kn-checkbox"></div>
              <div class="kn-symbol"></div>
              <div class="kn-label">Item row</div>
              <div class="kn-max-likes"></div>
              <div class="kn-weight-code"></div>
              <div class="kn-weight-symbol"></div>
              <div class="kn-weight-amount"></div>
            </div>
            <div knGrid [columns]="itemColumns">
              <div class="kn-checkbox"></div>
              <div class="kn-symbol"></div>
              <div class="kn-label">Item row</div>
              <div class="kn-max-likes"></div>
              <div class="kn-weight-code"></div>
              <div class="kn-weight-symbol"></div>
              <div class="kn-weight-amount"></div>
            </div>
            <div knGrid [columns]="itemColumns">
              <div class="kn-checkbox"></div>
              <div class="kn-symbol"></div>
              <div class="kn-label">Item row</div>
              <div class="kn-max-likes"></div>
              <div class="kn-weight-code"></div>
              <div class="kn-weight-symbol"></div>
              <div class="kn-weight-amount"></div>
            </div>
          </div>
          <div class="kn-package example-package">
            <div class="example-header" knGrid [columns]="packageColumns">
              <div class="material-icons">all_out</div>
              <div>Package 2</div>
              <div class="kn-count">x4</div>
            </div>

            <div class="example-item" knGrid [columns]="itemColumns">
              <div class="kn-checkbox material-icons">check_box_outline_blank</div>
              <div class="kn-symbol material-icons">adjust</div>
              <div class="kn-label">Item row</div>
              <div class="kn-max-likes"></div>
              <div class="kn-symbol kn-weight-code material-icons">filter_1</div>
              <div class="kn-symbol kn-weight-symbol material-icons">device_unknown</div>
              <div class="kn-weight-amount">5.0</div>
            </div>
            <div knGrid [columns]="itemColumns">
              <div class="kn-checkbox material-icons">check_box_outline_blank</div>
              <div class="kn-symbol material-icons">wb_sunny</div>
              <div class="kn-label">Item row</div>
              <div class="kn-max-likes"></div>
              <div class="kn-symbol kn-weight-code material-icons">filter_1</div>
              <div class="kn-symbol kn-weight-symbol material-icons">device_unknown</div>
              <div class="kn-weight-amount">5.0</div>
            </div>
            <div knGrid [columns]="itemColumns">
              <div class="kn-checkbox material-icons">check_box_outline_blank</div>
              <div class="kn-symbol material-icons">adjust</div>
              <div class="kn-label">Item row</div>
              <div class="kn-max-likes"></div>
              <div class="kn-symbol kn-weight-code material-icons">filter_1</div>
              <div class="kn-symbol kn-weight-symbol material-icons">device_unknown</div>
              <div class="kn-weight-amount">1.0</div>
            </div>
            <div knGrid [columns]="itemColumns">
              <div class="kn-checkbox material-icons">check_box_outline_blank</div>
              <div class="kn-symbol material-icons">adjust</div>
              <div class="kn-label">Item row</div>
              <div class="kn-max-likes"></div>
              <div class="kn-symbol kn-weight-code material-icons">filter_1</div>
              <div class="kn-symbol kn-weight-symbol material-icons">dock</div>
              <div class="kn-weight-amount">5.0</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="source">
    <h3>Source</h3>
    <div class="sample">
      <div class="sample">
        <a href="https://github.com/deaneturner/kargonaut-ws/blob/master/projects/demo/src/app/components/directives-example/directives-example.component.ts"
           target="source">directives-example.component.ts</a>
        <ng-gist userName="deaneturner" gistId="074d7d3a19dd354af2f47a1acf8e1b4f"></ng-gist>
      </div>
    </div>
    <div class="sample">
      <a href="https://github.com/deaneturner/kargonaut-ws/blob/master/projects/demo/src/app/components/directives-example/directives-example.component.html"
         target="source">directives-example.component.html</a>
      <ng-gist userName="deaneturner" gistId="faa0f1c30898ab339b4a05b84e63e79f"></ng-gist>
    </div>
    <div class="sample">
      <a href="https://github.com/deaneturner/kargonaut-ws/blob/master/projects/demo/src/app/components/directives-example/directives-example.component.less"
         target="source">directives-example.component.less</a>
      <ng-gist userName="deaneturner" gistId="4a10565b5f3e465f9ab4a5a4572e0f01"></ng-gist>
    </div>
  </div>
</div>
