<div class="emulation-example">
  <img src="../../../assets/death-stranding/deathstranding_cargo_management.png" alt="cargo management">
  <div></div>
  <div>
    <div>
      <div></div>
      <div>
        <h3>Item</h3>
        <div class="cn-items">
          <div class="example-item">
            <div class="cn-checkbox"></div>
            <div class="cn-symbol"></div>
            <div class="cn-label">Item row</div>
            <div class="cn-max-likes"></div>
            <div class="cn-weight-code"></div>
            <div class="cn-weight-symbol"></div>
            <div class="cn-weight-amount"></div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div></div>
      <div>
        <h3>Package</h3>
        <div class="cn-package example-package">
          <div class="cn-header example-header">
            <div></div>
            <div>Package Header</div>
            <div></div>
          </div>

          <div class="cn-items">
            <div>
              <div class="cn-checkbox"></div>
              <div class="cn-symbol"></div>
              <div class="cn-label">Item row</div>
              <div class="cn-max-likes"></div>
              <div class="cn-weight-code"></div>
              <div class="cn-weight-symbol"></div>
              <div class="cn-weight-amount"></div>
            </div>
            <div>
              <div class="cn-checkbox"></div>
              <div class="cn-symbol"></div>
              <div class="cn-label">Item row</div>
              <div class="cn-max-likes"></div>
              <div class="cn-weight-code"></div>
              <div class="cn-weight-symbol"></div>
              <div class="cn-weight-amount"></div>
            </div>
            <div>
              <div class="cn-checkbox"></div>
              <div class="cn-symbol"></div>
              <div class="cn-label">Item row</div>
              <div class="cn-max-likes"></div>
              <div class="cn-weight-code"></div>
              <div class="cn-weight-symbol"></div>
              <div class="cn-weight-amount"></div>
            </div>
            <div>
              <div class="cn-checkbox"></div>
              <div class="cn-symbol"></div>
              <div class="cn-label">Item row</div>
              <div class="cn-max-likes"></div>
              <div class="cn-weight-code"></div>
              <div class="cn-weight-symbol"></div>
              <div class="cn-weight-amount"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div></div>
      <div>
        <h3>Container</h3>
        <div class="cn-container example-container">
          <div class="cn-package example-package">
            <div class="cn-header">
              <div></div>
              <div>Package1</div>
              <div></div>
            </div>

            <div class="cn-items">
              <div>
                <div class="cn-checkbox"></div>
                <div class="cn-symbol"></div>
                <div class="cn-label">Item row</div>
                <div class="cn-max-likes"></div>
                <div class="cn-weight-code"></div>
                <div class="cn-weight-symbol"></div>
                <div class="cn-weight-amount"></div>
              </div>
              <div>
                <div class="cn-checkbox"></div>
                <div class="cn-symbol"></div>
                <div class="cn-label">Item row</div>
                <div class="cn-max-likes"></div>
                <div class="cn-weight-code"></div>
                <div class="cn-weight-symbol"></div>
                <div class="cn-weight-amount"></div>
              </div>
              <div>
                <div class="cn-checkbox"></div>
                <div class="cn-symbol"></div>
                <div class="cn-label">Item row</div>
                <div class="cn-max-likes"></div>
                <div class="cn-weight-code"></div>
                <div class="cn-weight-symbol"></div>
                <div class="cn-weight-amount"></div>
              </div>
              <div>
                <div class="cn-checkbox"></div>
                <div class="cn-symbol"></div>
                <div class="cn-label">Item row</div>
                <div class="cn-max-likes"></div>
                <div class="cn-weight-code"></div>
                <div class="cn-weight-symbol"></div>
                <div class="cn-weight-amount"></div>
              </div>
            </div>
          </div>
          <div class="cn-package example-package">
            <div class="cn-header">
              <div></div>
              <div>Package 2</div>
              <div></div>
            </div>

            <div class="cn-items">
              <div>
                <div class="cn-checkbox"></div>
                <div class="cn-symbol"></div>
                <div class="cn-label">Item row</div>
                <div class="cn-max-likes"></div>
                <div class="cn-weight-code"></div>
                <div class="cn-weight-symbol"></div>
                <div class="cn-weight-amount"></div>
              </div>
              <div>
                <div class="cn-checkbox"></div>
                <div class="cn-symbol"></div>
                <div class="cn-label">Item row</div>
                <div class="cn-max-likes"></div>
                <div class="cn-weight-code"></div>
                <div class="cn-weight-symbol"></div>
                <div class="cn-weight-amount"></div>
              </div>
              <div>
                <div class="cn-checkbox"></div>
                <div class="cn-symbol"></div>
                <div class="cn-label">Item row</div>
                <div class="cn-max-likes"></div>
                <div class="cn-weight-code"></div>
                <div class="cn-weight-symbol"></div>
                <div class="cn-weight-amount"></div>
              </div>
              <div>
                <div class="cn-checkbox"></div>
                <div class="cn-symbol"></div>
                <div class="cn-label">Item row</div>
                <div class="cn-max-likes"></div>
                <div class="cn-weight-code"></div>
                <div class="cn-weight-symbol"></div>
                <div class="cn-weight-amount"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
