<h2>About this demo application</h2>

<p>
  This is a demo of a item containner management UI, inspired by the awesome game - Death Stranding.
</p>

<blockquote>
  <a target="_blank" href="https://github.com/deaneturner/cargonaut">
    Item Container Management UI on GitHub
  </a>
</blockquote>

<div class="item-demo-layout">
  <div></div>
  <div>
    <h3>Item</h3>
    <div class="cn-items">
      <div>
        <div></div><div>An item row</div>
      </div>
    </div>
  </div>
</div>

<div class="package-demo-layout">
  <div></div>
  <div>
    <h3>Package</h3>
    <div class="cn-package">
      <div class="cn-header">
        <div></div>
        <div>A Package Heading that sits atop Items</div>
      </div>

      <div class="cn-items">
        <div>
          <div></div><div>An item row 1</div>
        </div>
        <div>
          <div></div><div>An item row 2</div>
        </div>
        <div>
          <div></div><div>An item row 3</div>
        </div>
        <div>
          <div></div><div>An item row 4</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-demo-layout">
  <div></div>
  <div>
    <h3>Container</h3>
    <div class="demo-container cn-container">
      <div class="cn-package">
        <div class="cn-header">
          <div></div>
          <div>Package1</div>
        </div>

        <div class="cn-items">
          <div>
            <div></div><div>Item row A</div>
          </div>
          <div>
            <div></div><div>Item row B</div>
          </div>
          <div>
            <div></div><div>Item row C</div>
          </div>
          <div>
            <div></div><div>Item row D</div>
          </div>
        </div>
      </div>
      <div class="cn-package">
        <div class="cn-header">
          <div></div>
          <div>Package 2</div>
        </div>

        <div class="cn-items">
          <div>
            <div></div><div>Item row 1</div>
          </div>
          <div>
            <div></div><div>Item row 2</div>
          </div>
          <div>
            <div></div><div>Item row 3</div>
          </div>
          <div>
            <div></div><div>Item row 4</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
