.item-demo-layout {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows:    100px;
}

.package-demo-layout {
  display: grid;
  grid-template-columns: 400px 400px; /* 2 cols */
  grid-template-rows:    400px;       /* 2 rows */
}

.cn-items {
  display: grid;
  grid-template-columns: 440px;
}

.cn-items > div {
  display: grid;
  grid-template-columns: 40px 400px;
}

.cn-header {
  display: grid;
  grid-template-columns: 40px 400px;
}

.cn-package {
  max-height: 100px;
}


