<h2>About this demo application</h2>

<p>
  This is a demo of a item containner management UI, inspired by the awesome game - Death Stranding.
</p>

<blockquote>
  <a target="_blank" href="https://github.com/deaneturner/cargonaut">
    Item Container Management UI on GitHub
  </a>
</blockquote>

<p>
  Explore Containers, Packages, and Items using the menu hamburger.
</p>

<blockquote>
  <a target="_blank" href="https://github.com/github/deaneturner/cargonaut">
    Link to a running example, Heroku?
  </a>
</blockquote>

<p>
  Note: Some note...
</p>

<div class="link-container">
  <h2>Sales Reports</h2>
  <ul>
    <li><a href="#">Sales By Customer</a>
    <li><a href="#">Sales By Item</a>
  </ul>
</div>

<div class="link-container">
  <h2>Invoice Reports</h2>
  <ul>
    <li><a href="#">Invoice Aging</a>
    <li><a href="#">Invoice Details</a>
    <li><a href="#">Credit Note Details</a>
    <li tabindex="-1" role="option" aria-checked="false">
      <input tabindex="-1" id="check1" class="o-checkbox" type="checkbox"><label for="check1"></label>
      Important information about your account
    </li>
  </ul>
</div>
