.item-demo-layout {               /* This is our CSS grid parent container */
  display: grid;
  grid-template-columns: 400px 400px; /* 2 cols */
  grid-template-rows:    100px;       /* 2 rows */
}

.package-demo-layout {               /* This is our CSS grid parent container */
  display: grid;
  grid-template-columns: 400px 400px; /* 2 cols */
  grid-template-rows:    400px;       /* 2 rows */
}

/* non-demo classes */

.cn-items {               /* This is the CSS grid parent container */
  display: grid;
  grid-template-columns: 440px; /* 2 cols */
  /* grid-template-rows:    40px;       n rows */
}

.cn-items > div {               /* This is the CSS grid parent container */
  display: grid;
  grid-template-columns: 40px 400px; /* 2 cols */
  /* grid-template-rows:    40px;       n rows */
}

.cn-header {               /* This is the CSS grid parent container */
  display: grid;
  grid-template-columns: 40px 400px; /* 2 cols */
  /* grid-template-rows:    40px;       n rows */
}

.cn-package {
  max-height: 100px;
}


