<div class="template-component-example">
  <div></div>
  <div>
    <div>
      <h2>{{ label }}</h2>
    </div>
    <h3>Package Config w/ Content Projection</h3>
    <p class="kn-surface">
      <kn-package-component [config]="packageConfig">
        <div class="kn-select-items">
          <div class="example-item" knGrid [columns]="itemConfig.knLayout.knColumns">
            <div class="kn-checkbox material-icons"></div>
            <div class="kn-symbol material-icons">adjust</div>
            <div class="kn-label">Item row</div>
            <div class="kn-max-likes"></div>
            <div class="kn-symbol kn-weight-code material-icons">filter_1</div>
            <div class="kn-symbol kn-weight-symbol material-icons">device_unknown</div>
            <div class="kn-weight-amount">5.0</div>
          </div>
          <div knGrid [columns]="itemConfig.knLayout.knColumns">
            <div class="kn-checkbox material-icons"></div>
            <div class="kn-symbol material-icons">wb_sunny</div>
            <div class="kn-label">Item row</div>
            <div class="kn-max-likes"></div>
            <div class="kn-symbol kn-weight-code material-icons">filter_1</div>
            <div class="kn-symbol kn-weight-symbol material-icons">device_unknown</div>
            <div class="kn-weight-amount">5.0</div>
          </div>
          <div knGrid [columns]="itemConfig.knLayout.knColumns">
            <div class="kn-checkbox material-icons"></div>
            <div class="kn-symbol material-icons">adjust</div>
            <div class="kn-label">Item row</div>
            <div class="kn-max-likes"></div>
            <div class="kn-symbol kn-weight-code material-icons">filter_1</div>
            <div class="kn-symbol kn-weight-symbol material-icons">device_unknown</div>
            <div class="kn-weight-amount">1.0</div>
          </div>
          <div knGrid [columns]="itemConfig.knLayout.knColumns">
            <div class="kn-checkbox material-icons"></div>
            <div class="kn-symbol material-icons">adjust</div>
            <div class="kn-label">Item row</div>
            <div class="kn-max-likes"></div>
            <div class="kn-symbol kn-weight-code material-icons">filter_1</div>
            <div class="kn-symbol kn-weight-symbol material-icons">dock</div>
            <div class="kn-weight-amount">5.0</div>
          </div>
        </div>
      </kn-package-component>
    </p>

    <h3>Templates - No Package Configuration</h3>

    <ng-template #packageTpl let-label="knLabel" let-layout="knLayout" let-count="knCount">
      <div class="example-header" knGrid [columns]="layout.knColumns">
        <div class="material-icons">all_out</div>
        <div>{{ label }}</div>
        <div class="kn-count">x{{count}}</div>
      </div>
    </ng-template>

    <ng-template #itemTpl let-item="knData">
      <div (click)="onSelect(item)" class="kn-checkbox material-icons">{{layout.selected[item.isSelected]}}</div>
      <div class="kn-symbol material-icons">{{item.symbol}}</div>
      <div class="kn-label">{{item.knLabel}}</div>
      <div class="kn-max-likes"></div>
      <div class="kn-symbol kn-weight-code material-icons">{{item.weightCode}}</div>
      <div class="kn-symbol kn-weight-symbol material-icons">{{item.weightSymbol}}</div>
      <div class="kn-weight-amount">{{item.weightAmount}}</div>
    </ng-template>

    <p class="kn-surface">
      <kn-package-component>
        <ng-container class="kn-select-package" *ngTemplateOutlet="packageTpl; context: packageConfigSingle"></ng-container>
        <div class="kn-select-items" knGrid [columns]="itemConfig.knLayout.knColumns">
          <ng-container *ngTemplateOutlet="itemTpl; context:{knData: (itemConfig.knData | async)[0]}"></ng-container>
        </div>
      </kn-package-component>
    </p>

    <p class="kn-surface">
      <kn-package-component>
        <ng-container class="kn-select-package" *ngTemplateOutlet="packageTpl; context: packageConfig"></ng-container>
        <div class="kn-select-items"
             *ngFor="let item of (itemConfig.knData | async)"
             knGrid
             [columns]="itemConfig.knLayout.knColumns">
          <ng-container *ngTemplateOutlet="itemTpl; context: {knData: item}"></ng-container>
        </div>
      </kn-package-component>
    </p>
  </div>
  <div class="source">
    <h3>Source</h3>
    <div class="sample">
      <div class="sample">
        <a href="https://github.com/deaneturner/kargonaut-ws/blob/master/projects/cargo-domain/src/kn/components/package/package.component.component.ts"
           target="source">package.component.ts</a>
        <ng-gist userName="deaneturner" gistId="4a1d8ccd92f17452ed0bccd0ff7b02ab"></ng-gist>
      </div>
    </div>
    <div class="sample">
      <a href="https://github.com/deaneturner/kargonaut-ws/blob/master/projects/cargo-domain/src/kn/components/package/package.component.html"
         target="source">package.component.html</a>
      <ng-gist userName="deaneturner" gistId="4d9e926bebd1c2ca8c241ec43ebf3d76"></ng-gist>
    </div>
    <div class="sample">
      <div class="sample">
        <a href="https://github.com/deaneturner/kargonaut-ws/blob/master/projects/demo/src/app/components/template-example/template-example.component.ts"
           target="source">template-example.component.ts</a>
        <ng-gist userName="deaneturner" gistId="e8e88f8f2af6e50296ad57414eb793d2"></ng-gist>
      </div>
    </div>
    <div class="sample">
      <a href="https://github.com/deaneturner/kargonaut-ws/blob/master/projects/demo/src/app/components/template-example/template-example.component.html"
         target="source">template-example.component.html</a>
      <ng-gist userName="deaneturner" gistId="51952110671743bd21d415acb40aec06"></ng-gist>
    </div>
    <div class="sample">
      <a href="https://github.com/deaneturner/kargonaut-ws/blob/master/projects/demo/src/app/components/template-example/template-example.component.scss"
         target="source">template-example.component.scss</a>
      <ng-gist userName="deaneturner" gistId="7fa2d67a372df890740630994424512c"></ng-gist>
    </div>
  </div>
</div>
