<div class="package-component-example">
  <div></div>
  <div>
    <div>
      <h2>Package Component</h2>
    </div>
    <h3>Simple Markup</h3>
    <cn-package-component [config]="config">
      <div class="example-item" cnGrid [columns]="itemColumns">
        <div class="cn-checkbox material-icons">check_box_outline_blank</div>
        <div class="cn-symbol material-icons">adjust</div>
        <div class="cn-label">Item row</div>
        <div class="cn-max-likes"></div>
        <div class="cn-symbol cn-weight-code material-icons">filter_1</div>
        <div class="cn-symbol cn-weight-symbol material-icons">device_unknown</div>
        <div class="cn-weight-amount">5.0</div>
      </div>
      <div cnGrid [columns]="itemColumns">
        <div class="cn-checkbox material-icons">check_box_outline_blank</div>
        <div class="cn-symbol material-icons">wb_sunny</div>
        <div class="cn-label">Item row</div>
        <div class="cn-max-likes"></div>
        <div class="cn-symbol cn-weight-code material-icons">filter_1</div>
        <div class="cn-symbol cn-weight-symbol material-icons">device_unknown</div>
        <div class="cn-weight-amount">5.0</div>
      </div>
      <div cnGrid [columns]="itemColumns">
        <div class="cn-checkbox material-icons">check_box_outline_blank</div>
        <div class="cn-symbol material-icons">adjust</div>
        <div class="cn-label">Item row</div>
        <div class="cn-max-likes"></div>
        <div class="cn-symbol cn-weight-code material-icons">filter_1</div>
        <div class="cn-symbol cn-weight-symbol material-icons">device_unknown</div>
        <div class="cn-weight-amount">1.0</div>
      </div>
      <div cnGrid [columns]="itemColumns">
        <div class="cn-checkbox material-icons">check_box_outline_blank</div>
        <div class="cn-symbol material-icons">adjust</div>
        <div class="cn-label">Item row</div>
        <div class="cn-max-likes"></div>
        <div class="cn-symbol cn-weight-code material-icons">filter_1</div>
        <div class="cn-symbol cn-weight-symbol material-icons">dock</div>
        <div class="cn-weight-amount">5.0</div>
      </div>
    </cn-package-component>

    <h3>Templates</h3>

    <ng-template #itemTpl let-item="item">
      <div class="cn-checkbox material-icons">{{item.checkbox}}</div>
      <div class="cn-symbol material-icons">{{item.symbol}}</div>
      <div class="cn-label">{{item.cnLabel}}</div>
      <div class="cn-max-likes"></div>
      <div class="cn-symbol cn-weight-code material-icons">{{item.weightCode}}</div>
      <div class="cn-symbol cn-weight-symbol material-icons">{{item.weightSymbol}}</div>
      <div class="cn-weight-amount">{{item.weightAmount}}</div>
    </ng-template>
    <cn-package-component [config]="config">
      <div cnGrid [columns]="itemColumns">
        <ng-container *ngTemplateOutlet="itemTpl; context: itemContext"></ng-container>
      </div>
    </cn-package-component>
  </div>
</div>
