<div class="package-component-example">
  <div></div>
  <div>
    <div>
      <h2>Package Component</h2>
    </div>
    <cn-package-component [config]="config">
      <div class="example-item" cnGrid [columns]="itemColumns">
        <div class="cn-checkbox material-icons">check_box_outline_blank</div>
        <div class="cn-symbol material-icons">adjust</div>
        <div class="cn-label">Item row</div>
        <div class="cn-max-likes"></div>
        <div class="cn-symbol cn-weight-code material-icons">filter_1</div>
        <div class="cn-symbol cn-weight-symbol material-icons">device_unknown</div>
        <div class="cn-weight-amount">5.0</div>
      </div>
      <div cnGrid [columns]="itemColumns">
        <div class="cn-checkbox material-icons">check_box_outline_blank</div>
        <div class="cn-symbol material-icons">wb_sunny</div>
        <div class="cn-label">Item row</div>
        <div class="cn-max-likes"></div>
        <div class="cn-symbol cn-weight-code material-icons">filter_1</div>
        <div class="cn-symbol cn-weight-symbol material-icons">device_unknown</div>
        <div class="cn-weight-amount">5.0</div>
      </div>
      <div cnGrid [columns]="itemColumns">
        <div class="cn-checkbox material-icons">check_box_outline_blank</div>
        <div class="cn-symbol material-icons">adjust</div>
        <div class="cn-label">Item row</div>
        <div class="cn-max-likes"></div>
        <div class="cn-symbol cn-weight-code material-icons">filter_1</div>
        <div class="cn-symbol cn-weight-symbol material-icons">device_unknown</div>
        <div class="cn-weight-amount">1.0</div>
      </div>
      <div cnGrid [columns]="itemColumns">
        <div class="cn-checkbox material-icons">check_box_outline_blank</div>
        <div class="cn-symbol material-icons">adjust</div>
        <div class="cn-label">Item row</div>
        <div class="cn-max-likes"></div>
        <div class="cn-symbol cn-weight-code material-icons">filter_1</div>
        <div class="cn-symbol cn-weight-symbol material-icons">dock</div>
        <div class="cn-weight-amount">5.0</div>
      </div>
    </cn-package-component>
  </div>
</div>
