<div class="package-component-example">
  <div></div>
  <div>
    <div>
      <h2>{{ label }}</h2>
    </div>
    <h3>Package Component</h3>
    <p class="kn-surface">
      <kn-package-component [config]="packageConfig" [itemConfig]="itemConfig">
        <demo-package-header-example [config]="packageConfig"></demo-package-header-example>
        <!--items -->
        <demo-item-example *knListItem="let item" [item]="item" [config]="itemConfig"></demo-item-example>
        <div class="kn-select-max-no-collapse">expand</div>
      </kn-package-component>
    </p>
  </div>
  <div class="source">
    <h3>Source</h3>
    <div class="sample">
      <a href="https://github.com/deaneturner/kargonaut-ws/blob/master/projects/cargo-domain/src/kn/components/package/package.component.component.ts"
         target="source">package.component.ts</a>
      <ng-gist userName="deaneturner" gistId="4a1d8ccd92f17452ed0bccd0ff7b02ab"></ng-gist>
    </div>
    <div class="sample">
      <a href="https://github.com/deaneturner/kargonaut-ws/blob/master/projects/cargo-domain/src/kn/components/package/package.component.html"
         target="source">package.component.html</a>
      <ng-gist userName="deaneturner" gistId="4d9e926bebd1c2ca8c241ec43ebf3d76"></ng-gist>
    </div>
    <div class="sample">
      <a href="https://github.com/deaneturner/kargonaut-ws/blob/master/projects/cargo-domain/src/kn/components/package/package.component.less"
         target="source">package.component.less</a>
      <ng-gist userName="deaneturner" gistId="b88b593deecd90ef912a101d237f2ed6"></ng-gist>
    </div>
    <div class="sample">
      <a href="https://github.com/deaneturner/kargonaut-ws/blob/master/projects/demo/src/app/components/component-example/component-example.component.ts"
         target="source">component-example.component.ts</a>
      <ng-gist userName="deaneturner" gistId="6d26dedb2ccbebc4c517c00531cb7abc"></ng-gist>
    </div>
    <div class="sample">
      <a href="https://github.com/deaneturner/kargonaut-ws/blob/master/projects/demo/src/app/components/component-example/component-example.component.html"
         target="source">component-example.component.html</a>
      <ng-gist userName="deaneturner" gistId="91cb3a173c763325c7b8845e8bca7abd"></ng-gist>
    </div>
    <div class="sample">
      <a href="https://github.com/deaneturner/kargonaut-ws/blob/master/projects/demo/src/app/components/component-example/component-example.component.less"
         target="source">component-example.component.less</a>
      <ng-gist userName="deaneturner" gistId="dfc45c58f08dc512be42a2dd3fabfe75"></ng-gist>
    </div>
  </div>
</div>
